footer { 
    font-size: 11px; 
    text-align: center; 
}
    
footer a { 
    color: hsl(218, 44%, 22%); 
}

body {
    background-color: hsl(212, 45%, 89%);
    /*Flexbox to center the main*/
    /*
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    */
    /*Grid to center the main*/
    min-height: 100vh;
    display: grid;
    place-content: center;
    /*
    place-items: center; Not working, places Main and Footer far away from eachother
    */
}

/*@media only screen and (max-width: 600px) {
    body {width: 375px; height: 200px;}
  }*/

main {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 1em;
    max-width: 18em;
    border-radius: 5%;
    box-shadow: 1px 2px 20px #8888;
    /*Margin to center the Main*/
    /*
    margin-top: 200px;
    margin: auto;
    */
}

.text {
    margin: center;/*align it to center*/
}

img {
    border-radius: 3%;
    max-width: 100%;
}

p {
    margin-top: 1em;/*space between the text*/
    font-size: 16px;
    font-weight: 400;
    font-family: 'outfitregular';
    color: hsl(220, 15%, 55%);
}

h1 {
    font-family:'outfitsemibold';
    font-weight: 600;
    font-size: 22px;
}

@font-face {
    font-family: 'outfitbold';
    src: url('font/outfit-bold-webfont.woff2') format('woff2'),
         url('font/outfit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'outfitregular';
    src: url('font/outfit-regular-webfont.woff2') format('woff2'),
         url('font/outfit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'outfitsemibold';
    src: url('font/outfit-semibold-webfont.woff2') format('woff2'),
         url('font/outfit-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}